<div th:replace="~{compartilhado/topo}"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Novo Cliente</h1>
    <p class="mb-4">
        Aqui iremos cadastrar um novo cliente
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="padding: 30px;">
        <form method="POST" action="/clientes/criar" onsubmit="return confirm('Confirma ação')">
            <div class="row">
                <!-- Coluna 1 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nome" class="required-field" title="* Campo obrigatório">Nome</label>
                        <input type="text" class="form-control" required id="nome" name="nome"
                            placeholder="Digite o nome do cliente">
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" oninput="formatarCPF()" id="cpf" name="cpf"
                            maxlength="14" placeholder="Digite o CPF do cliente">
                    </div>
                    <div class="form-group">
                        <label for="telefone" class="required-field" title="* Campo obrigatório">Telefone</label>
                        <input type="text" class="form-control" oninput="formatarTelefone()" required id="telefone"
                            name="telefone" maxlength="15" placeholder="Digite o telefone do cliente">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="Digite o email do cliente">
                    </div>
                    <!-- <div class="form-group">
                        <label for="placa">Placa do veículo</label>
                        <input type="text" class="form-control" id="placa" name="placa" placeholder="Digite a placa do veículo">
                    </div> -->
                </div>
                <!-- Coluna 2 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" onblur="pesquisacep(this.value);" id="cep" name="cep"
                            maxlength="9" placeholder="Digite o CEP do cliente">
                    </div>
                    <div class="form-group">
                        <label for="endereco">Endereço</label>
                        <input type="text" class="form-control" id="endereco" name="endereco"
                            placeholder="Digite o endereço do cliente">
                    </div>
                    <div class="form-group">
                        <label for="numero">Número</label>
                        <input type="number" class="form-control" id="numero" name="numero"
                            placeholder="Digite o número do endereço">
                    </div>
                    <div class="form-group">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" id="cidade" name="cidade"
                            placeholder="Digite a cidade do cliente">
                    </div>
                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="bairro" name="bairro"
                            placeholder="Digite o bairro do cliente">
                    </div>
                    <div class="form-group">
                        <label for="complemento">Complemento</label>
                        <input type="text" class="form-control" id="complemento" name="complemento"
                            placeholder="Digite o complemento">
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>

</div>


<script src="/js/scriptsCliente.js"></script>
<script src="/js/scriptsCEP.js"></script>
<!-- <script src="/js/APIs/apiSinesp.js"></script> -->

<style>
    .required-field::after {
        content: " *";
        color: red;
    }
</style>
<!-- /.container-fluid -->
<div th:replace="~{compartilhado/baixo}"></div>
